.sensor-label { 
    font-family: System-Regular;
    fill: white;
    text-anchor: middle;
    text-length: 32;
    font-size: 20;
    x: 50%;
    y: $+5;
}
  
.sensor-data {
    font-family: System-Light;
    fill: #FCDC3F; 
    text-anchor: middle;
    text-length: 64;
    font-size: 20;
    x: 50%;
    y: $;
}

#battery-level {
    width: 30; 
    height: 17; 
    fill: white;
    x: 10%;
    y: 10%; 
}
#batteryPercent {
    fill: #ffffff;
    x: 20%;
    y: 10%+3;
}

.battery-image { 
    fill: #50BA7B;  
    width: 32;
    height: 33;
    x: 10%;
    y: 8%;
}
.start_button {
    width: 50;
    height: 50;
    fill:  #50BA7B;
    x: 50%;
    y: 50%;
}

