.background {
  viewport-fill: black;
}

#ampmLabel {
  font-size: 25;
  font-family: System-Light;
  text-length: 32;
  text-anchor: start;
  x: 45%;
  y: 40%;
  fill: white;
}

#hourLabel {
  font-size: 65;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  x: 23%;
  y: 40%;
  fill: white;
}

#minuteLabel {
  font-size: 65;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  x: 45%;
  y: 40%;
  fill: white;
}

#monthLabel {
  font-size: 35;
  font-family: System-Light;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#dayLabel {
  font-size: 35;
  font-family: System-Light;
  text-length: 32;
  text-anchor: start;
  x: 5;
  fill: white;
}

#yearLabel {
  font-size: 32;
  font-family: System-Light;
  text-length: 32;
  text-anchor: start;
  x: 43;
  y: 23;
  fill: white;
}

#batteryLabel {
  font-size: 35;
  font-family: System-Light;
  text-length: 32;
  text-anchor: start;
  x: 30%;
  y: 12%;
  fill: white;
}

#batteryIcon {
  href: "battery.png";
  fill: white;
}

#heartIcon {
  width: 25;
  height: 25;
  href: "heart.png";
  fill: "white";
}

#heartRateLabel {
  font-size: 25;
  font-family: System-Light;
  text-length: 32;
  text-anchor: start;
  x: 25;
  fill: white;
}

#stepsIcon {
  width: 25;
  height: 25;
  href: "step.png";
  fill: "white";
}

#stepsLabel {
  font-size: 25;
  font-family: System-Light;
  text-length: 32;
  text-anchor: start;
  x: 25%;
  fill: white;
}

#exerciseButton {
  width: 125;
  height: 125;
  href: "exerciseButton.png";
  fill: white;
}

.sensor-label {
  font-family: System-Regular;
  fill: white;
  text-anchor: middle;
  text-length: 32;
  font-size: 20;
  x: 40%;
  y: 65%;
}

.sensor-data {
  font-family: System-Light;
  fill: yellow;
  text-anchor: middle;
  text-length: 64;
  font-size: 20;
  x: 40%;
  y: 70%;
}

#countLabel {
  font-size: 25;
  font-family: System-Light;
  text-length: 32;
  text-anchor: middle;
  x: 75%;
  y: 67%;
  fill: white;
}